In [1]:
import pandas as pd

In [111]:
demo_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

In [112]:
demo_17_20_list = demo_2017_2020.columns.tolist()

In [113]:
demo_15_16_list = demo_2015_2016.columns.tolist()

In [114]:
demo_13_14_list = demo_2013_2014.columns.tolist()

In [115]:
demo_11_12_list = demo_2011_2012.columns.tolist()

In [116]:
demo_09_10_list = demo_2009_2010.columns.tolist()

In [117]:
demo_07_08_list = demo_2007_2008.columns.tolist()

In [118]:
intersect_col = set(demo_17_20_list).intersection(demo_15_16_list).intersection(demo_13_14_list).intersection(demo_11_12_list).intersection(demo_09_10_list).intersection(demo_07_08_list)

In [68]:
#intersect_col

In [119]:
demo_17_20_filtered = pd.DataFrame(demo_2017_2020, columns=intersect_col)
demo_17_20_filtered.shape[0]

15560

In [120]:
demo_15_16_filtered = pd.DataFrame(demo_2015_2016, columns=intersect_col)
demo_15_16_filtered.shape[0]

9971

In [121]:
demo_13_14_filtered = pd.DataFrame(demo_2013_2014, columns=intersect_col)
demo_13_14_filtered.shape[0]

10175

In [122]:
demo_11_12_filtered = pd.DataFrame(demo_2011_2012, columns=intersect_col)
demo_11_12_filtered.shape[0]

9756

In [123]:
demo_09_10_filtered = pd.DataFrame(demo_2009_2010, columns=intersect_col)
demo_09_10_filtered.shape[0]

10537

In [124]:
demo_07_08_filtered = pd.DataFrame(demo_2007_2008, columns=intersect_col)
demo_07_08_filtered.shape[0]

10149

In [125]:
demo_final = demo_17_20_filtered.append(demo_15_16_filtered)
demo_final = demo_final.append(demo_13_14_filtered)
demo_final = demo_final.append(demo_11_12_filtered)
demo_final = demo_final.append(demo_09_10_filtered)
demo_final = demo_final.append(demo_07_08_filtered)
demo_final.shape[0]

66148

In [126]:
demo_final.head()

,SIALANG,FIAPROXY,FIAINTRP,FIALANG,SDMVPSU,SDMVSTRA,RIAGENDR,MIAPROXY,SIAINTRP,RIDAGEYR,...,MIAINTRP,RIDAGEMN,INDFMPIR,SIAPROXY,RIDEXPRG,DMDEDUC2,RIDSTATR,RIDEXMON,SDDSRVYR,SEQN
0,1.0,2.0,2.0,1.0,3.0,156.0,1.0,NaN,2.0,2.0,...,NaN,NaN,4.66,1.0,NaN,NaN,2.0,2.0,66.0,109263.0
1,1.0,2.0,2.0,1.0,1.0,155.0,2.0,2.0,2.0,13.0,...,2.0,NaN,0.83,1.0,NaN,NaN,2.0,2.0,66.0,109264.0
2,1.0,2.0,2.0,1.0,1.0,157.0,1.0,NaN,2.0,2.0,...,NaN,NaN,3.06,1.0,NaN,NaN,2.0,2.0,66.0,109265.0
3,1.0,2.0,2.0,1.0,2.0,168.0,2.0,2.0,2.0,29.0,...,2.0,NaN,5.00,2.0,2.0,5.0,2.0,2.0,66.0,109266.0
4,1.0,2.0,2.0,1.0,1.0,156.0,2.0,NaN,2.0,21.0,...,NaN,NaN,5.00,2.0,3.0,4.0,1.0,NaN,66.0,109267.0

In [128]:
demo_final.head()

,SIALANG,FIAPROXY,FIAINTRP,FIALANG,SDMVPSU,SDMVSTRA,RIAGENDR,MIAPROXY,SIAINTRP,RIDAGEYR,...,MIAINTRP,RIDAGEMN,INDFMPIR,SIAPROXY,RIDEXPRG,DMDEDUC2,RIDSTATR,RIDEXMON,SDDSRVYR,SEQN
0,1.0,2.0,2.0,1.0,3.0,156.0,1.0,NaN,2.0,2.0,...,NaN,NaN,4.66,1.0,NaN,NaN,2.0,2.0,66.0,109263.0
1,1.0,2.0,2.0,1.0,1.0,155.0,2.0,2.0,2.0,13.0,...,2.0,NaN,0.83,1.0,NaN,NaN,2.0,2.0,66.0,109264.0
2,1.0,2.0,2.0,1.0,1.0,157.0,1.0,NaN,2.0,2.0,...,NaN,NaN,3.06,1.0,NaN,NaN,2.0,2.0,66.0,109265.0
3,1.0,2.0,2.0,1.0,2.0,168.0,2.0,2.0,2.0,29.0,...,2.0,NaN,5.00,2.0,2.0,5.0,2.0,2.0,66.0,109266.0
4,1.0,2.0,2.0,1.0,1.0,156.0,2.0,NaN,2.0,21.0,...,NaN,NaN,5.00,2.0,3.0,4.0,1.0,NaN,66.0,109267.0

In [ ]:
diet_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
diet_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
diet_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
diet_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
diet_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
diet_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

In [102]:
def combinedata(_2017_2020,_2015_2016,_2013_2014,_2011_2012,_2009_2010,_2007_2008):
    _17_20_list = _2017_2020.columns.tolist()
    _15_16_list = _2015_2016.columns.tolist()
    _13_14_list = _2013_2014.columns.tolist()
    _11_12_list = _2011_2012.columns.tolist()
    _09_10_list = _2009_2010.columns.tolist()
    _07_08_list = _2007_2008.columns.tolist()
    
    intersect_col = set(_17_20_list).intersection(_15_16_list).intersection(_13_14_list).intersection(_11_12_list).intersection(_09_10_list).intersection(_07_08_list)
    
    _17_20_filtered = pd.DataFrame(demo_2017_2020, columns=intersect_col)
    _15_16_filtered = pd.DataFrame(demo_2015_2016, columns=intersect_col)
    _13_14_filtered = pd.DataFrame(demo_2013_2014, columns=intersect_col)
    _11_12_filtered = pd.DataFrame(demo_2011_2012, columns=intersect_col)
    _09_10_filtered = pd.DataFrame(demo_2009_2010, columns=intersect_col)
    _07_08_filtered = pd.DataFrame(demo_2007_2008, columns=intersect_col)
    print(intersect_col)
    
    _final = _17_20_filtered.append(demo_15_16_filtered)
    _final = _final.append(_13_14_filtered)
    _final = _final.append(_11_12_filtered)
    _final = _final.append(_09_10_filtered)
    _final = _final.append(_07_08_filtered)
    
    return _final

In [127]:
demo_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

demo_final = combinedata(demo_2017_2020,demo_2015_2016,demo_2013_2014,demo_2011_2012,demo_2009_2010,demo_2007_2008)

{'SIALANG', 'FIAPROXY', 'FIAINTRP', 'FIALANG', 'SDMVPSU', 'SDMVSTRA', 'RIAGENDR', 'MIAPROXY', 'SIAINTRP', 'RIDAGEYR', 'RIDRETH1', 'MIALANG', 'MIAINTRP', 'RIDAGEMN', 'INDFMPIR', 'SIAPROXY', 'RIDEXPRG', 'DMDEDUC2', 'RIDSTATR', 'RIDEXMON', 'SDDSRVYR', 'SEQN'}

In [137]:
diet_2017_2020 = pd.read_sas("./diet/diet_17_20.XPT");
diet_2015_2016 = pd.read_sas("./diet/diet_15_16.XPT");
diet_2013_2014 = pd.read_sas("./diet/diet_13_14.XPT");
diet_2011_2012 = pd.read_sas("./diet/diet_11_12.XPT");
diet_2009_2010 = pd.read_sas("./diet/diet_09_10.XPT");
diet_2007_2008 = pd.read_sas("./diet/diet_07_08.XPT");

{'DSQTSUGR', 'DSQTPOTA', 'DSQTFIBE', 'DSQTCARB', 'DSQTKCAL', 'DSQTSELE', 'DSQTMFAT', 'DSQTCALC', 'DSQTLZ', 'DSQTVB1', 'DSQTFA', 'DSQTLYCO', 'DSQTCHOL', 'DSQTIRON', 'DSQTCOPP', 'DSD010', 'DSQTVB2', 'DSDANCNT', 'DSQTSODI', 'DSD010AN', 'DSQTCHL', 'DSQTZINC', 'DSQTPHOS', 'DSQTVK', 'DSQTPFAT', 'DSDCOUNT', 'DSQTNIAC', 'DSQTFDFE', 'DSQTVC', 'DSQTPROT', 'DSQTSFAT', 'DSQTVB6', 'DSQTMAGN', 'DSQTCAFF', 'SEQN', 'DSQTVD', 'DSQTVB12', 'DSQTTFAT'}

0       24.0
1        NaN
2        NaN
3        NaN
4        NaN
        ...
9966     3.0
9967     0.7
9968     NaN
9969     NaN
9970     NaN
Name: DSQTSUGR, Length: 9971, dtype: float64

In [139]:
diet_final = combinedata(diet_2015_2016,diet_2015_2016,diet_2013_2014,diet_2011_2012,diet_2009_2010,diet_2007_2008)

{'DSQTSUGR', 'DSQTPOTA', 'DSQTFIBE', 'DSQTCARB', 'DSQTKCAL', 'DSQTSELE', 'DSQTMFAT', 'DSQTCALC', 'DSQTLZ', 'DSQTVB1', 'DSQTFA', 'DSQTLYCO', 'DSQTCHOL', 'DSQTIRON', 'DSQTCOPP', 'DSD010', 'DSQTVB2', 'DSDANCNT', 'DSQTSODI', 'DSD010AN', 'DSQTCHL', 'DSQTZINC', 'DSQTPHOS', 'DSQTVK', 'DSQTPFAT', 'DSDCOUNT', 'DSQTNIAC', 'DSQTFDFE', 'DSQTVC', 'DSQTPROT', 'DSQTSFAT', 'DSQTVB6', 'DSQTMAGN', 'DSQTCAFF', 'SEQN', 'DSQTVD', 'DSQTVB12', 'DSQTTFAT'}