In [1]:
import pandas as pd

In [2]:
demo_2017_2020 = pd.read_sas("demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("demographic/demo_2007_2008.XPT");

In [3]:
demo_17_20_list = demo_2017_2020.columns.tolist()

In [4]:
demo_15_16_list = demo_2015_2016.columns.tolist()

In [5]:
demo_13_14_list = demo_2013_2014.columns.tolist()

In [6]:
demo_11_12_list = demo_2011_2012.columns.tolist()

In [7]:
demo_09_10_list = demo_2009_2010.columns.tolist()

In [8]:
demo_07_08_list = demo_2007_2008.columns.tolist()

In [9]:
intersect_col = set(demo_17_20_list).intersection(demo_15_16_list).intersection(demo_13_14_list).intersection(demo_11_12_list).intersection(demo_09_10_list).intersection(demo_07_08_list)

In [10]:
#intersect_col

In [11]:
demo_17_20_filtered = pd.DataFrame(demo_2017_2020, columns=intersect_col)
demo_17_20_filtered.shape[0]

15560

In [12]:
demo_15_16_filtered = pd.DataFrame(demo_2015_2016, columns=intersect_col)
demo_15_16_filtered.shape[0]

9971

In [13]:
demo_13_14_filtered = pd.DataFrame(demo_2013_2014, columns=intersect_col)
demo_13_14_filtered.shape[0]

10175

In [14]:
demo_11_12_filtered = pd.DataFrame(demo_2011_2012, columns=intersect_col)
demo_11_12_filtered.shape[0]

9756

In [15]:
demo_09_10_filtered = pd.DataFrame(demo_2009_2010, columns=intersect_col)
demo_09_10_filtered.shape[0]

10537

In [16]:
demo_07_08_filtered = pd.DataFrame(demo_2007_2008, columns=intersect_col)
demo_07_08_filtered.shape[0]

10149

In [17]:
demo_final = demo_17_20_filtered.append(demo_15_16_filtered)
demo_final = demo_final.append(demo_13_14_filtered)
demo_final = demo_final.append(demo_11_12_filtered)
demo_final = demo_final.append(demo_09_10_filtered)
demo_final = demo_final.append(demo_07_08_filtered)
demo_final.shape[0]

66148

In [18]:
demo_final.head()

,SDMVPSU,INDFMPIR,MIAINTRP,SIAINTRP,RIDRETH1,SDDSRVYR,RIDEXMON,DMDEDUC2,RIAGENDR,RIDEXPRG,...,MIALANG,RIDAGEMN,SEQN,RIDAGEYR,SIAPROXY,SDMVSTRA,FIAINTRP,RIDSTATR,MIAPROXY,FIALANG
0,3.0,4.66,NaN,2.0,5.0,66.0,2.0,NaN,1.0,NaN,...,NaN,NaN,109263.0,2.0,1.0,156.0,2.0,2.0,NaN,1.0
1,1.0,0.83,2.0,2.0,1.0,66.0,2.0,NaN,2.0,NaN,...,1.0,NaN,109264.0,13.0,1.0,155.0,2.0,2.0,2.0,1.0
2,1.0,3.06,NaN,2.0,3.0,66.0,2.0,NaN,1.0,NaN,...,NaN,NaN,109265.0,2.0,1.0,157.0,2.0,2.0,NaN,1.0
3,2.0,5.00,2.0,2.0,5.0,66.0,2.0,5.0,2.0,2.0,...,1.0,NaN,109266.0,29.0,2.0,168.0,2.0,2.0,2.0,1.0
4,1.0,5.00,NaN,2.0,2.0,66.0,NaN,4.0,2.0,3.0,...,NaN,NaN,109267.0,21.0,2.0,156.0,2.0,1.0,NaN,1.0

In [19]:
demo_final.head()

,SDMVPSU,INDFMPIR,MIAINTRP,SIAINTRP,RIDRETH1,SDDSRVYR,RIDEXMON,DMDEDUC2,RIAGENDR,RIDEXPRG,...,MIALANG,RIDAGEMN,SEQN,RIDAGEYR,SIAPROXY,SDMVSTRA,FIAINTRP,RIDSTATR,MIAPROXY,FIALANG
0,3.0,4.66,NaN,2.0,5.0,66.0,2.0,NaN,1.0,NaN,...,NaN,NaN,109263.0,2.0,1.0,156.0,2.0,2.0,NaN,1.0
1,1.0,0.83,2.0,2.0,1.0,66.0,2.0,NaN,2.0,NaN,...,1.0,NaN,109264.0,13.0,1.0,155.0,2.0,2.0,2.0,1.0
2,1.0,3.06,NaN,2.0,3.0,66.0,2.0,NaN,1.0,NaN,...,NaN,NaN,109265.0,2.0,1.0,157.0,2.0,2.0,NaN,1.0
3,2.0,5.00,2.0,2.0,5.0,66.0,2.0,5.0,2.0,2.0,...,1.0,NaN,109266.0,29.0,2.0,168.0,2.0,2.0,2.0,1.0
4,1.0,5.00,NaN,2.0,2.0,66.0,NaN,4.0,2.0,3.0,...,NaN,NaN,109267.0,21.0,2.0,156.0,2.0,1.0,NaN,1.0

In [20]:
#diet_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
#diet_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
#diet_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
#diet_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
#diet_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
#diet_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

In [21]:
def combinedata(_2017_2020,_2015_2016,_2013_2014,_2011_2012,_2009_2010,_2007_2008):
    _17_20_list = _2017_2020.columns.tolist()
    _15_16_list = _2015_2016.columns.tolist()
    _13_14_list = _2013_2014.columns.tolist()
    _11_12_list = _2011_2012.columns.tolist()
    _09_10_list = _2009_2010.columns.tolist()
    _07_08_list = _2007_2008.columns.tolist()
    
    intersect_col = set(_17_20_list).intersection(_15_16_list).intersection(_13_14_list).intersection(_11_12_list).intersection(_09_10_list).intersection(_07_08_list)
    
    _17_20_filtered = pd.DataFrame(_2017_2020, columns=intersect_col)
    _15_16_filtered = pd.DataFrame(_2015_2016, columns=intersect_col)
    _13_14_filtered = pd.DataFrame(_2013_2014, columns=intersect_col)
    _11_12_filtered = pd.DataFrame(_2011_2012, columns=intersect_col)
    _09_10_filtered = pd.DataFrame(_2009_2010, columns=intersect_col)
    _07_08_filtered = pd.DataFrame(_2007_2008, columns=intersect_col)
    print(intersect_col)
    
    _final = _17_20_filtered.append(_15_16_filtered)
    _final = _final.append(_13_14_filtered)
    _final = _final.append(_11_12_filtered)
    _final = _final.append(_09_10_filtered)
    _final = _final.append(_07_08_filtered)
    
    return _final

In [86]:
demo_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

demo_final = combinedata(demo_2017_2020,demo_2015_2016,demo_2013_2014,demo_2011_2012,demo_2009_2010,demo_2007_2008)

{'SDMVPSU', 'INDFMPIR', 'MIAINTRP', 'SIAINTRP', 'RIDRETH1', 'SDDSRVYR', 'RIDEXMON', 'DMDEDUC2', 'RIAGENDR', 'RIDEXPRG', 'SIALANG', 'FIAPROXY', 'MIALANG', 'RIDAGEMN', 'SEQN', 'RIDAGEYR', 'SIAPROXY', 'SDMVSTRA', 'FIAINTRP', 'RIDSTATR', 'MIAPROXY', 'FIALANG'}

In [87]:
diet_2017_2020 = pd.read_sas("./diet/diet_17_20.XPT");
diet_2015_2016 = pd.read_sas("./diet/diet_15_16.XPT");
diet_2013_2014 = pd.read_sas("./diet/diet_13_14.XPT");
diet_2011_2012 = pd.read_sas("./diet/diet_11_12.XPT");
diet_2009_2010 = pd.read_sas("./diet/diet_09_10.XPT");
diet_2007_2008 = pd.read_sas("./diet/diet_07_08.XPT");

diet_final = combinedata(diet_2017_2020,diet_2015_2016,diet_2013_2014,diet_2011_2012,diet_2009_2010,diet_2007_2008)

{'DSQTVB12', 'DSQTZINC', 'DSQTCHOL', 'DSQTNIAC', 'DSQTCALC', 'DSQTSUGR', 'DSQTCAFF', 'DSQTVB1', 'DSQTKCAL', 'DSQTPOTA', 'DSQTSELE', 'DSQTVC', 'DSQTCOPP', 'DSQTPHOS', 'DSQTIRON', 'DSQTMFAT', 'DSQTVB2', 'DSQTLZ', 'DSQTPROT', 'DSQTSFAT', 'SEQN', 'DSQTVK', 'DSQTFIBE', 'DSQTSODI', 'DSQTLYCO', 'DSQTFDFE', 'DSQTVB6', 'DSQTTFAT', 'DSQTCARB', 'DSQTPFAT', 'DSDCOUNT', 'DSDANCNT', 'DSQTCHL', 'DSQTVD', 'DSD010', 'DSQTFA', 'DSQTMAGN', 'DSD010AN'}

In [88]:
#blood pressure info for labelling

bp_2017_2020 = pd.read_sas("./bp/bp_17_20.XPT");
bp_2015_2016 = pd.read_sas("./bp/bp_15_16.XPT");
bp_2013_2014 = pd.read_sas("./bp/bp_13_14.XPT");
bp_2011_2012 = pd.read_sas("./bp/bp_11_12.XPT");
bp_2009_2010 = pd.read_sas("./bp/bp_09_10.XPT");
bp_2007_2008 = pd.read_sas("./bp/bp_07_08.XPT");

bp_final = combinedata(bp_2017_2020,bp_2015_2016,bp_2013_2014,bp_2011_2012,bp_2009_2010,bp_2007_2008)

{'BPQ100D', 'BPQ020', 'BPQ070', 'BPQ080', 'BPQ030', 'BPD035', 'BPQ060', 'SEQN', 'BPQ090D', 'BPQ040A', 'BPQ050A'}

In [89]:
#alcohol data
#alc_2017_2020 have different column names compared to prev years

alc_2017_2020 = pd.read_sas("./alcohol/alc_17_20.XPT");
alc_2015_2016 = pd.read_sas("./alcohol/alc_15_16.XPT");
alc_2013_2014 = pd.read_sas("./alcohol/alc_13_14.XPT");
alc_2011_2012 = pd.read_sas("./alcohol/alc_11_12.XPT");
alc_2009_2010 = pd.read_sas("./alcohol/alc_09_10.XPT");
alc_2007_2008 = pd.read_sas("./alcohol/alc_07_08.XPT");

alc_final = combinedata(alc_2017_2020,alc_2015_2016,alc_2013_2014,alc_2011_2012,alc_2009_2010,alc_2007_2008)

{'SEQN', 'ALQ130'}

In [90]:
print(alc_2017_2020.columns)
print(alc_2015_2016.columns)
print(alc_2013_2014.columns)

Index(['SEQN', 'ALQ111', 'ALQ121', 'ALQ130', 'ALQ142', 'ALQ270', 'ALQ280',
       'ALQ290', 'ALQ151', 'ALQ170'],
      dtype='object')
Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'ALQ141Q',
       'ALQ141U', 'ALQ151', 'ALQ160'],
      dtype='object')
Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'ALQ141Q',
       'ALQ141U', 'ALQ151', 'ALQ160'],
      dtype='object')

In [91]:
#total cholesterol data

tchol_2017_2020 = pd.read_sas("./cholesterol/tchol_17_20.XPT");
tchol_2015_2016 = pd.read_sas("./cholesterol/tchol_15_16.XPT");
tchol_2013_2014 = pd.read_sas("./cholesterol/tchol_13_14.XPT");
tchol_2011_2012 = pd.read_sas("./cholesterol/tchol_11_12.XPT");
tchol_2009_2010 = pd.read_sas("./cholesterol/tchol_09_10.XPT");
tchol_2007_2008 = pd.read_sas("./cholesterol/tchol_07_08.XPT");

tchol_final = combinedata(tchol_2017_2020,tchol_2015_2016,tchol_2013_2014,tchol_2011_2012,tchol_2009_2010,tchol_2007_2008)

{'LBXTC', 'SEQN', 'LBDTCSI'}

In [92]:
#diabetes data

di_2017_2020 = pd.read_sas("./diabetes/diabetes_17_20.XPT");
di_2015_2016 = pd.read_sas("./diabetes/diabetes_15_16.XPT");
di_2013_2014 = pd.read_sas("./diabetes/diabetes_13_14.XPT");
di_2011_2012 = pd.read_sas("./diabetes/diabetes_11_12.XPT");
di_2009_2010 = pd.read_sas("./diabetes/diabetes_09_10.XPT");
di_2007_2008 = pd.read_sas("./diabetes/diabetes_07_08.XPT");

diabetes_final = combinedata(di_2017_2020,di_2015_2016,di_2013_2014,di_2011_2012,di_2009_2010,di_2007_2008)

{'DIQ350U', 'DID040', 'DID350', 'DIQ080', 'DIQ180', 'DID260', 'DIQ240', 'SEQN', 'DIQ160', 'DID250', 'DID060', 'DIQ360', 'DIQ010', 'DIQ060U', 'DIQ260U', 'DIQ050', 'DIQ230'}

In [93]:
#income data

inc_2017_2020 = pd.read_sas("./income/inc_17_20.XPT");
inc_2015_2016 = pd.read_sas("./income/inc_15_16.XPT");
inc_2013_2014 = pd.read_sas("./income/inc_13_14.XPT");
inc_2011_2012 = pd.read_sas("./income/inc_11_12.XPT");
inc_2009_2010 = pd.read_sas("./income/inc_09_10.XPT");
inc_2007_2008 = pd.read_sas("./income/inc_07_08.XPT");

income_final = combinedata(inc_2017_2020,inc_2015_2016,inc_2013_2014,inc_2011_2012,inc_2009_2010,inc_2007_2008)

{'INDFMMPI', 'SEQN', 'INDFMMPC'}

In [94]:
#kidney disease data

kid_2017_2020 = pd.read_sas("./kidney/kidney_17_20.XPT");
kid_2015_2016 = pd.read_sas("./kidney/kidney_15_16.XPT");
kid_2013_2014 = pd.read_sas("./kidney/kidney_13_14.XPT");
kid_2011_2012 = pd.read_sas("./kidney/kidney_11_12.XPT");
kid_2009_2010 = pd.read_sas("./kidney/kidney_09_10.XPT");
kid_2007_2008 = pd.read_sas("./kidney/kidney_07_08.XPT");

kidney_final = combinedata(kid_2017_2020,kid_2015_2016,kid_2013_2014,kid_2011_2012,kid_2009_2010,kid_2007_2008)

{'KIQ480', 'KIQ026', 'KIQ022', 'KIQ470', 'KIQ005', 'KIQ046', 'KIQ430', 'KIQ044', 'KIQ450', 'KIQ052', 'SEQN', 'KIQ042', 'KIQ050', 'KIQ025', 'KIQ010'}

In [95]:
#physical activity data

pa_2017_2020 = pd.read_sas("./physical activity/pa_17_20.XPT");
pa_2015_2016 = pd.read_sas("./physical activity/pa_15_16.XPT");
pa_2013_2014 = pd.read_sas("./physical activity/pa_13_14.XPT");
pa_2011_2012 = pd.read_sas("./physical activity/pa_11_12.XPT");
pa_2009_2010 = pd.read_sas("./physical activity/pa_09_10.XPT");
pa_2007_2008 = pd.read_sas("./physical activity/pa_07_08.XPT");

pa_final = combinedata(pa_2017_2020,pa_2015_2016,pa_2013_2014,pa_2011_2012,pa_2009_2010,pa_2007_2008)

{'PAQ640', 'PAQ625', 'PAQ620', 'PAD675', 'PAD645', 'PAD660', 'PAQ610', 'PAD630', 'PAD680', 'PAQ655', 'SEQN', 'PAD615', 'PAQ650', 'PAQ635', 'PAQ670', 'PAQ605', 'PAQ665'}

In [96]:
#smoking status data

smoke_2017_2020 = pd.read_sas("./smoke/smoke_17_20.XPT");
smoke_2015_2016 = pd.read_sas("./smoke/smoke_15_16.XPT");
smoke_2013_2014 = pd.read_sas("./smoke/smoke_13_14.XPT");
smoke_2011_2012 = pd.read_sas("./smoke/smoke_11_12.XPT");
smoke_2009_2010 = pd.read_sas("./smoke/smoke_09_10.XPT");
smoke_2007_2008 = pd.read_sas("./smoke/smoke_07_08.XPT");

smoke_final = combinedata(smoke_2017_2020,smoke_2015_2016,smoke_2013_2014,smoke_2011_2012,smoke_2009_2010,smoke_2007_2008)

{'SMD630', 'SMD100MN', 'SMQ040', 'SMQ050Q', 'SMQ050U', 'SMD650', 'SMQ020', 'SMAQUEX2', 'SEQN', 'SMD641', 'SMQ670', 'SMD100FL', 'SMD030', 'SMD057'}

In [97]:
#triglycerides data
#2017-2020 data have some different columns

trigly_2017_2020 = pd.read_sas("./triglycerides/trigly_17_20.XPT");
trigly_2015_2016 = pd.read_sas("./triglycerides/trigly_15_16.XPT");
trigly_2013_2014 = pd.read_sas("./triglycerides/trigly_13_14.XPT");
trigly_2011_2012 = pd.read_sas("./triglycerides/trigly_11_12.XPT");
trigly_2009_2010 = pd.read_sas("./triglycerides/trigly_09_10.XPT");
trigly_2007_2008 = pd.read_sas("./triglycerides/trigly_07_08.XPT");

trigly_final = combinedata(trigly_2017_2020,trigly_2015_2016,trigly_2013_2014,trigly_2011_2012,trigly_2009_2010,trigly_2007_2008)

{'LBDTRSI', 'LBDLDL', 'SEQN', 'LBXTR', 'LBDLDLSI'}

In [98]:
print(trigly_2017_2020.columns)
print(trigly_2015_2016.columns)
print(trigly_2013_2014.columns)

Index(['SEQN', 'WTSAFPRP', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI', 'LBDLDLM',
       'LBDLDMSI', 'LBDLDLN', 'LBDLDNSI'],
      dtype='object')
Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')
Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')

In [99]:
#weight data

weight_2017_2020 = pd.read_sas("./weight/weight_17_20.XPT");
weight_2015_2016 = pd.read_sas("./weight/weight_15_16.XPT");
weight_2013_2014 = pd.read_sas("./weight/weight_13_14.XPT");
weight_2011_2012 = pd.read_sas("./weight/weight_11_12.XPT");
weight_2009_2010 = pd.read_sas("./weight/weight_09_10.XPT");
weight_2007_2008 = pd.read_sas("./weight/weight_07_08.XPT");

weight_final = combinedata(weight_2017_2020,weight_2015_2016,weight_2013_2014,weight_2011_2012,weight_2009_2010,weight_2007_2008)

{'BMXARML', 'BMIARML', 'BMDSTATS', 'BMIARMC', 'BMIWT', 'BMILEG', 'BMXRECUM', 'BMXHEAD', 'BMXARMC', 'BMXWAIST', 'BMIHT', 'BMXWT', 'BMIHEAD', 'BMXLEG', 'BMIWAIST', 'BMIRECUM', 'SEQN', 'BMXBMI', 'BMXHT'}

In [120]:
#blood pressure reading
#2017-2020 data have different column names

bprdg_2017_2020 = pd.read_sas("./blood pressure reading/bp_rdg_os_17_20.XPT");
bprdg_2015_2016 = pd.read_sas("./blood pressure reading/bp_rdg_15_16.XPT");
bprdg_2013_2014 = pd.read_sas("./blood pressure reading/bp_rdg_13_14.XPT");
bprdg_2011_2012 = pd.read_sas("./blood pressure reading/bp_rdg_11_12.XPT");
bprdg_2009_2010 = pd.read_sas("./blood pressure reading/bp_rdg_09_10.XPT");
bprdg_2007_2008 = pd.read_sas("./blood pressure reading/bp_rdg_07_08.XPT");

In [124]:
print(bprdg_2017_2020.columns)
print(bprdg_2015_2016.columns)

Index(['SEQN', 'BPAOARM', 'BPAOCSZ', 'BPXOSY1', 'BPXODI1', 'BPXOSY2',
       'BPXODI2', 'BPXOSY3', 'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3'],
      dtype='object')
Index(['SEQN', 'PEASCCT1', 'BPXCHR', 'BPAARM', 'BPACSZ', 'BPXPLS', 'BPXPULS',
       'BPXPTY', 'BPXML1', 'BPXSY1', 'BPXDI1', 'BPAEN1', 'BPXSY2', 'BPXDI2',
       'BPAEN2', 'BPXSY3', 'BPXDI3', 'BPAEN3', 'BPXSY4', 'BPXDI4', 'BPAEN4'],
      dtype='object')

In [123]:
#this doesn't work yet
#bprdg_final = combinedata(bprdg_2017_2020,bprdg_2015_2016,bprdg_2013_2014,bprdg_2011_2012,bprdg_2009_2010,bprdg_2007_2008)

{'SEQN'}