In [1]:
import pandas as pd

In [2]:
demo_2017_2020 = pd.read_sas("demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("demographic/demo_2007_2008.XPT");

In [3]:
demo_17_20_list = demo_2017_2020.columns.tolist()

In [4]:
demo_15_16_list = demo_2015_2016.columns.tolist()

In [5]:
demo_13_14_list = demo_2013_2014.columns.tolist()

In [6]:
demo_11_12_list = demo_2011_2012.columns.tolist()

In [7]:
demo_09_10_list = demo_2009_2010.columns.tolist()

In [8]:
demo_07_08_list = demo_2007_2008.columns.tolist()

In [9]:
intersect_col = set(demo_17_20_list).intersection(demo_15_16_list).intersection(demo_13_14_list).intersection(demo_11_12_list).intersection(demo_09_10_list).intersection(demo_07_08_list)

In [10]:
#intersect_col

In [11]:
demo_17_20_filtered = pd.DataFrame(demo_2017_2020, columns=intersect_col)
demo_17_20_filtered.shape[0]

15560

In [12]:
demo_15_16_filtered = pd.DataFrame(demo_2015_2016, columns=intersect_col)
demo_15_16_filtered.shape[0]

9971

In [13]:
demo_13_14_filtered = pd.DataFrame(demo_2013_2014, columns=intersect_col)
demo_13_14_filtered.shape[0]

10175

In [14]:
demo_11_12_filtered = pd.DataFrame(demo_2011_2012, columns=intersect_col)
demo_11_12_filtered.shape[0]

9756

In [15]:
demo_09_10_filtered = pd.DataFrame(demo_2009_2010, columns=intersect_col)
demo_09_10_filtered.shape[0]

10537

In [16]:
demo_07_08_filtered = pd.DataFrame(demo_2007_2008, columns=intersect_col)
demo_07_08_filtered.shape[0]

10149

In [17]:
demo_final = demo_17_20_filtered.append(demo_15_16_filtered)
demo_final = demo_final.append(demo_13_14_filtered)
demo_final = demo_final.append(demo_11_12_filtered)
demo_final = demo_final.append(demo_09_10_filtered)
demo_final = demo_final.append(demo_07_08_filtered)
demo_final.shape[0]

66148

In [18]:
demo_final.head()

,RIDAGEYR,SDMVSTRA,RIDRETH1,RIDAGEMN,RIAGENDR,FIAINTRP,INDFMPIR,SDDSRVYR,MIALANG,RIDEXMON,...,SIAINTRP,SDMVPSU,MIAPROXY,SIAPROXY,RIDSTATR,MIAINTRP,FIAPROXY,DMDEDUC2,SEQN,SIALANG
0,2.0,156.0,5.0,NaN,1.0,2.0,4.66,66.0,NaN,2.0,...,2.0,3.0,NaN,1.0,2.0,NaN,2.0,NaN,109263.0,1.0
1,13.0,155.0,1.0,NaN,2.0,2.0,0.83,66.0,1.0,2.0,...,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,109264.0,1.0
2,2.0,157.0,3.0,NaN,1.0,2.0,3.06,66.0,NaN,2.0,...,2.0,1.0,NaN,1.0,2.0,NaN,2.0,NaN,109265.0,1.0
3,29.0,168.0,5.0,NaN,2.0,2.0,5.00,66.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,109266.0,1.0
4,21.0,156.0,2.0,NaN,2.0,2.0,5.00,66.0,NaN,NaN,...,2.0,1.0,NaN,2.0,1.0,NaN,2.0,4.0,109267.0,1.0

In [19]:
demo_final.head()

,RIDAGEYR,SDMVSTRA,RIDRETH1,RIDAGEMN,RIAGENDR,FIAINTRP,INDFMPIR,SDDSRVYR,MIALANG,RIDEXMON,...,SIAINTRP,SDMVPSU,MIAPROXY,SIAPROXY,RIDSTATR,MIAINTRP,FIAPROXY,DMDEDUC2,SEQN,SIALANG
0,2.0,156.0,5.0,NaN,1.0,2.0,4.66,66.0,NaN,2.0,...,2.0,3.0,NaN,1.0,2.0,NaN,2.0,NaN,109263.0,1.0
1,13.0,155.0,1.0,NaN,2.0,2.0,0.83,66.0,1.0,2.0,...,2.0,1.0,2.0,1.0,2.0,2.0,2.0,NaN,109264.0,1.0
2,2.0,157.0,3.0,NaN,1.0,2.0,3.06,66.0,NaN,2.0,...,2.0,1.0,NaN,1.0,2.0,NaN,2.0,NaN,109265.0,1.0
3,29.0,168.0,5.0,NaN,2.0,2.0,5.00,66.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,5.0,109266.0,1.0
4,21.0,156.0,2.0,NaN,2.0,2.0,5.00,66.0,NaN,NaN,...,2.0,1.0,NaN,2.0,1.0,NaN,2.0,4.0,109267.0,1.0

In [20]:
#diet_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
#diet_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
#diet_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
#diet_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
#diet_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
#diet_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

In [21]:
def combinedata(_2017_2020,_2015_2016,_2013_2014,_2011_2012,_2009_2010,_2007_2008):
    _17_20_list = _2017_2020.columns.tolist()
    _15_16_list = _2015_2016.columns.tolist()
    _13_14_list = _2013_2014.columns.tolist()
    _11_12_list = _2011_2012.columns.tolist()
    _09_10_list = _2009_2010.columns.tolist()
    _07_08_list = _2007_2008.columns.tolist()
    
    intersect_col = set(_17_20_list).intersection(_15_16_list).intersection(_13_14_list).intersection(_11_12_list).intersection(_09_10_list).intersection(_07_08_list)
    
    _17_20_filtered = pd.DataFrame(_2017_2020, columns=intersect_col)
    _15_16_filtered = pd.DataFrame(_2015_2016, columns=intersect_col)
    _13_14_filtered = pd.DataFrame(_2013_2014, columns=intersect_col)
    _11_12_filtered = pd.DataFrame(_2011_2012, columns=intersect_col)
    _09_10_filtered = pd.DataFrame(_2009_2010, columns=intersect_col)
    _07_08_filtered = pd.DataFrame(_2007_2008, columns=intersect_col)
    print(intersect_col)
    
    _final = _17_20_filtered.append(_15_16_filtered)
    _final = _final.append(_13_14_filtered)
    _final = _final.append(_11_12_filtered)
    _final = _final.append(_09_10_filtered)
    _final = _final.append(_07_08_filtered)
    
    return _final

In [22]:
demo_2017_2020 = pd.read_sas("./demographic/demo_2017_2020.XPT");
demo_2015_2016 = pd.read_sas("./demographic/demo_2015_2016.XPT");
demo_2013_2014 = pd.read_sas("./demographic/demo_2013_2014.XPT");
demo_2011_2012 = pd.read_sas("./demographic/demo_2011_2012.XPT");
demo_2009_2010 = pd.read_sas("./demographic/demo_2009_2010.XPT");
demo_2007_2008 = pd.read_sas("./demographic/demo_2007_2008.XPT");

demo_final = combinedata(demo_2017_2020,demo_2015_2016,demo_2013_2014,demo_2011_2012,demo_2009_2010,demo_2007_2008)

{'RIDAGEYR', 'SDMVSTRA', 'RIDRETH1', 'RIDAGEMN', 'RIAGENDR', 'FIAINTRP', 'INDFMPIR', 'SDDSRVYR', 'MIALANG', 'RIDEXMON', 'RIDEXPRG', 'FIALANG', 'SIAINTRP', 'SDMVPSU', 'MIAPROXY', 'SIAPROXY', 'RIDSTATR', 'MIAINTRP', 'FIAPROXY', 'DMDEDUC2', 'SEQN', 'SIALANG'}

In [23]:
diet_2017_2020 = pd.read_sas("./diet/diet_17_20.XPT");
diet_2015_2016 = pd.read_sas("./diet/diet_15_16.XPT");
diet_2013_2014 = pd.read_sas("./diet/diet_13_14.XPT");
diet_2011_2012 = pd.read_sas("./diet/diet_11_12.XPT");
diet_2009_2010 = pd.read_sas("./diet/diet_09_10.XPT");
diet_2007_2008 = pd.read_sas("./diet/diet_07_08.XPT");

diet_final = combinedata(diet_2017_2020,diet_2015_2016,diet_2013_2014,diet_2011_2012,diet_2009_2010,diet_2007_2008)

{'DSQTMFAT', 'DSQTCARB', 'DSQTPFAT', 'DSQTCALC', 'DSQTLYCO', 'DSQTFDFE', 'DSQTVD', 'DSQTFA', 'DSQTVB2', 'DSQTCHL', 'DSQTSELE', 'DSD010', 'DSQTPOTA', 'DSQTPROT', 'DSQTSFAT', 'DSQTVB1', 'DSQTVK', 'DSQTCOPP', 'DSQTVB12', 'DSQTKCAL', 'DSDCOUNT', 'DSQTCHOL', 'DSQTIRON', 'DSQTTFAT', 'DSQTSUGR', 'DSQTNIAC', 'DSQTMAGN', 'DSQTSODI', 'DSQTVC', 'DSQTZINC', 'SEQN', 'DSQTVB6', 'DSQTCAFF', 'DSDANCNT', 'DSQTFIBE', 'DSD010AN', 'DSQTLZ', 'DSQTPHOS'}

In [24]:
#blood pressure info for labelling

bp_2017_2020 = pd.read_sas("./bp/bp_17_20.XPT");
bp_2015_2016 = pd.read_sas("./bp/bp_15_16.XPT");
bp_2013_2014 = pd.read_sas("./bp/bp_13_14.XPT");
bp_2011_2012 = pd.read_sas("./bp/bp_11_12.XPT");
bp_2009_2010 = pd.read_sas("./bp/bp_09_10.XPT");
bp_2007_2008 = pd.read_sas("./bp/bp_07_08.XPT");

bp_final = combinedata(bp_2017_2020,bp_2015_2016,bp_2013_2014,bp_2011_2012,bp_2009_2010,bp_2007_2008)

{'BPQ050A', 'BPQ090D', 'BPD035', 'SEQN', 'BPQ070', 'BPQ100D', 'BPQ060', 'BPQ080', 'BPQ020', 'BPQ040A', 'BPQ030'}

In [25]:
#alcohol data
#alc_2017_2020 have different column names compared to prev years

alc_2017_2020 = pd.read_sas("./alcohol/alc_17_20.XPT");
alc_2015_2016 = pd.read_sas("./alcohol/alc_15_16.XPT");
alc_2013_2014 = pd.read_sas("./alcohol/alc_13_14.XPT");
alc_2011_2012 = pd.read_sas("./alcohol/alc_11_12.XPT");
alc_2009_2010 = pd.read_sas("./alcohol/alc_09_10.XPT");
alc_2007_2008 = pd.read_sas("./alcohol/alc_07_08.XPT");

alc_final = combinedata(alc_2017_2020,alc_2015_2016,alc_2013_2014,alc_2011_2012,alc_2009_2010,alc_2007_2008)

{'ALQ130', 'SEQN'}

In [26]:
print(alc_2017_2020.columns)
print(alc_2015_2016.columns)
print(alc_2013_2014.columns)

Index(['SEQN', 'ALQ111', 'ALQ121', 'ALQ130', 'ALQ142', 'ALQ270', 'ALQ280',
       'ALQ290', 'ALQ151', 'ALQ170'],
      dtype='object')
Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'ALQ141Q',
       'ALQ141U', 'ALQ151', 'ALQ160'],
      dtype='object')
Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ120Q', 'ALQ120U', 'ALQ130', 'ALQ141Q',
       'ALQ141U', 'ALQ151', 'ALQ160'],
      dtype='object')

In [27]:
#total cholesterol data

tchol_2017_2020 = pd.read_sas("./cholesterol/tchol_17_20.XPT");
tchol_2015_2016 = pd.read_sas("./cholesterol/tchol_15_16.XPT");
tchol_2013_2014 = pd.read_sas("./cholesterol/tchol_13_14.XPT");
tchol_2011_2012 = pd.read_sas("./cholesterol/tchol_11_12.XPT");
tchol_2009_2010 = pd.read_sas("./cholesterol/tchol_09_10.XPT");
tchol_2007_2008 = pd.read_sas("./cholesterol/tchol_07_08.XPT");

tchol_final = combinedata(tchol_2017_2020,tchol_2015_2016,tchol_2013_2014,tchol_2011_2012,tchol_2009_2010,tchol_2007_2008)

{'LBXTC', 'SEQN', 'LBDTCSI'}

In [28]:
#diabetes data

di_2017_2020 = pd.read_sas("./diabetes/diabetes_17_20.XPT");
di_2015_2016 = pd.read_sas("./diabetes/diabetes_15_16.XPT");
di_2013_2014 = pd.read_sas("./diabetes/diabetes_13_14.XPT");
di_2011_2012 = pd.read_sas("./diabetes/diabetes_11_12.XPT");
di_2009_2010 = pd.read_sas("./diabetes/diabetes_09_10.XPT");
di_2007_2008 = pd.read_sas("./diabetes/diabetes_07_08.XPT");

diabetes_final = combinedata(di_2017_2020,di_2015_2016,di_2013_2014,di_2011_2012,di_2009_2010,di_2007_2008)

{'DIQ180', 'DIQ080', 'DIQ010', 'DIQ050', 'DID060', 'SEQN', 'DID250', 'DIQ260U', 'DIQ060U', 'DIQ230', 'DIQ350U', 'DID260', 'DID350', 'DIQ360', 'DIQ160', 'DID040', 'DIQ240'}

In [29]:
#income data

inc_2017_2020 = pd.read_sas("./income/inc_17_20.XPT");
inc_2015_2016 = pd.read_sas("./income/inc_15_16.XPT");
inc_2013_2014 = pd.read_sas("./income/inc_13_14.XPT");
inc_2011_2012 = pd.read_sas("./income/inc_11_12.XPT");
inc_2009_2010 = pd.read_sas("./income/inc_09_10.XPT");
inc_2007_2008 = pd.read_sas("./income/inc_07_08.XPT");

income_final = combinedata(inc_2017_2020,inc_2015_2016,inc_2013_2014,inc_2011_2012,inc_2009_2010,inc_2007_2008)

{'INDFMMPI', 'INDFMMPC', 'SEQN'}

In [30]:
#kidney disease data

kid_2017_2020 = pd.read_sas("./kidney/kidney_17_20.XPT");
kid_2015_2016 = pd.read_sas("./kidney/kidney_15_16.XPT");
kid_2013_2014 = pd.read_sas("./kidney/kidney_13_14.XPT");
kid_2011_2012 = pd.read_sas("./kidney/kidney_11_12.XPT");
kid_2009_2010 = pd.read_sas("./kidney/kidney_09_10.XPT");
kid_2007_2008 = pd.read_sas("./kidney/kidney_07_08.XPT");

kidney_final = combinedata(kid_2017_2020,kid_2015_2016,kid_2013_2014,kid_2011_2012,kid_2009_2010,kid_2007_2008)

{'KIQ450', 'KIQ005', 'KIQ042', 'KIQ044', 'KIQ052', 'KIQ046', 'SEQN', 'KIQ050', 'KIQ026', 'KIQ430', 'KIQ025', 'KIQ010', 'KIQ470', 'KIQ480', 'KIQ022'}

In [31]:
#physical activity data

pa_2017_2020 = pd.read_sas("./physical activity/pa_17_20.XPT");
pa_2015_2016 = pd.read_sas("./physical activity/pa_15_16.XPT");
pa_2013_2014 = pd.read_sas("./physical activity/pa_13_14.XPT");
pa_2011_2012 = pd.read_sas("./physical activity/pa_11_12.XPT");
pa_2009_2010 = pd.read_sas("./physical activity/pa_09_10.XPT");
pa_2007_2008 = pd.read_sas("./physical activity/pa_07_08.XPT");

pa_final = combinedata(pa_2017_2020,pa_2015_2016,pa_2013_2014,pa_2011_2012,pa_2009_2010,pa_2007_2008)

{'PAQ665', 'PAQ610', 'PAD630', 'PAQ625', 'PAD645', 'PAD660', 'PAQ650', 'PAQ605', 'PAQ635', 'PAD675', 'PAD680', 'SEQN', 'PAQ620', 'PAQ640', 'PAQ655', 'PAQ670', 'PAD615'}

In [32]:
#smoking status data

smoke_2017_2020 = pd.read_sas("./smoke/smoke_17_20.XPT");
smoke_2015_2016 = pd.read_sas("./smoke/smoke_15_16.XPT");
smoke_2013_2014 = pd.read_sas("./smoke/smoke_13_14.XPT");
smoke_2011_2012 = pd.read_sas("./smoke/smoke_11_12.XPT");
smoke_2009_2010 = pd.read_sas("./smoke/smoke_09_10.XPT");
smoke_2007_2008 = pd.read_sas("./smoke/smoke_07_08.XPT");

smoke_final = combinedata(smoke_2017_2020,smoke_2015_2016,smoke_2013_2014,smoke_2011_2012,smoke_2009_2010,smoke_2007_2008)

{'SMAQUEX2', 'SMD650', 'SMD100FL', 'SEQN', 'SMQ040', 'SMD100MN', 'SMQ020', 'SMD641', 'SMQ050Q', 'SMD630', 'SMD030', 'SMD057', 'SMQ050U', 'SMQ670'}

In [33]:
#triglycerides data
#2017-2020 data have some different columns

trigly_2017_2020 = pd.read_sas("./triglycerides/trigly_17_20.XPT");
trigly_2015_2016 = pd.read_sas("./triglycerides/trigly_15_16.XPT");
trigly_2013_2014 = pd.read_sas("./triglycerides/trigly_13_14.XPT");
trigly_2011_2012 = pd.read_sas("./triglycerides/trigly_11_12.XPT");
trigly_2009_2010 = pd.read_sas("./triglycerides/trigly_09_10.XPT");
trigly_2007_2008 = pd.read_sas("./triglycerides/trigly_07_08.XPT");

trigly_final = combinedata(trigly_2017_2020,trigly_2015_2016,trigly_2013_2014,trigly_2011_2012,trigly_2009_2010,trigly_2007_2008)

{'LBXTR', 'LBDLDLSI', 'LBDTRSI', 'LBDLDL', 'SEQN'}

In [34]:
print(trigly_2017_2020.columns)
print(trigly_2015_2016.columns)
print(trigly_2013_2014.columns)

Index(['SEQN', 'WTSAFPRP', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI', 'LBDLDLM',
       'LBDLDMSI', 'LBDLDLN', 'LBDLDNSI'],
      dtype='object')
Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')
Index(['SEQN', 'WTSAF2YR', 'LBXTR', 'LBDTRSI', 'LBDLDL', 'LBDLDLSI'], dtype='object')

In [35]:
#weight data

weight_2017_2020 = pd.read_sas("./weight/weight_17_20.XPT");
weight_2015_2016 = pd.read_sas("./weight/weight_15_16.XPT");
weight_2013_2014 = pd.read_sas("./weight/weight_13_14.XPT");
weight_2011_2012 = pd.read_sas("./weight/weight_11_12.XPT");
weight_2009_2010 = pd.read_sas("./weight/weight_09_10.XPT");
weight_2007_2008 = pd.read_sas("./weight/weight_07_08.XPT");

weight_final = combinedata(weight_2017_2020,weight_2015_2016,weight_2013_2014,weight_2011_2012,weight_2009_2010,weight_2007_2008)

{'BMIWAIST', 'BMDSTATS', 'BMXHT', 'BMIARML', 'BMXBMI', 'BMXARML', 'BMXRECUM', 'BMXLEG', 'BMIARMC', 'BMIHT', 'BMIWT', 'BMIRECUM', 'BMXWT', 'BMIHEAD', 'BMILEG', 'SEQN', 'BMXHEAD', 'BMXARMC', 'BMXWAIST'}

In [36]:
#blood pressure reading
#2017-2020 data have different column names

bprdg_2017_2020 = pd.read_sas("./blood pressure reading/bp_rdg_os_17_20.XPT");
bprdg_2015_2016 = pd.read_sas("./blood pressure reading/bp_rdg_15_16.XPT");
bprdg_2013_2014 = pd.read_sas("./blood pressure reading/bp_rdg_13_14.XPT");
bprdg_2011_2012 = pd.read_sas("./blood pressure reading/bp_rdg_11_12.XPT");
bprdg_2009_2010 = pd.read_sas("./blood pressure reading/bp_rdg_09_10.XPT");
bprdg_2007_2008 = pd.read_sas("./blood pressure reading/bp_rdg_07_08.XPT");

In [37]:
print(bprdg_2017_2020.columns)
print(bprdg_2015_2016.columns)

Index(['SEQN', 'BPAOARM', 'BPAOCSZ', 'BPXOSY1', 'BPXODI1', 'BPXOSY2',
       'BPXODI2', 'BPXOSY3', 'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3'],
      dtype='object')
Index(['SEQN', 'PEASCCT1', 'BPXCHR', 'BPAARM', 'BPACSZ', 'BPXPLS', 'BPXPULS',
       'BPXPTY', 'BPXML1', 'BPXSY1', 'BPXDI1', 'BPAEN1', 'BPXSY2', 'BPXDI2',
       'BPAEN2', 'BPXSY3', 'BPXDI3', 'BPAEN3', 'BPXSY4', 'BPXDI4', 'BPAEN4'],
      dtype='object')

In [38]:
def combinedata_v2(_2015_2016,_2013_2014,_2011_2012,_2009_2010,_2007_2008):
    _15_16_list = _2015_2016.columns.tolist()
    _13_14_list = _2013_2014.columns.tolist()
    _11_12_list = _2011_2012.columns.tolist()
    _09_10_list = _2009_2010.columns.tolist()
    _07_08_list = _2007_2008.columns.tolist()
    
    intersect_col = set(_15_16_list).intersection(_13_14_list).intersection(_11_12_list).intersection(_09_10_list).intersection(_07_08_list)
    
    _15_16_filtered = pd.DataFrame(_2015_2016, columns=intersect_col)
    _13_14_filtered = pd.DataFrame(_2013_2014, columns=intersect_col)
    _11_12_filtered = pd.DataFrame(_2011_2012, columns=intersect_col)
    _09_10_filtered = pd.DataFrame(_2009_2010, columns=intersect_col)
    _07_08_filtered = pd.DataFrame(_2007_2008, columns=intersect_col)
    print(intersect_col)
    
    _final = _15_16_filtered.append(_13_14_filtered)
    _final = _final.append(_11_12_filtered)
    _final = _final.append(_09_10_filtered)
    _final = _final.append(_07_08_filtered)
    
    return _final

In [39]:
col= bprdg_2017_2020.loc[:,'BPXOPLS1':'BPXOPLS3']

bprdg_2017_2020['BPXPLS']= col.mean(axis=1)

In [40]:
bprdg_final= combinedata_v2(bprdg_2015_2016,bprdg_2013_2014,bprdg_2011_2012,bprdg_2009_2010,bprdg_2007_2008)
bprdg_final= bprdg_final.append(bprdg_2017_2020)

{'BPXML1', 'BPAARM', 'BPAEN2', 'BPXPLS', 'BPXDI1', 'BPXSY2', 'BPXPTY', 'BPXSY1', 'BPACSZ', 'BPXDI3', 'BPAEN1', 'BPAEN4', 'BPXDI4', 'BPXCHR', 'BPXDI2', 'BPAEN3', 'BPXSY3', 'BPXSY4', 'SEQN', 'BPXPULS', 'PEASCCT1'}

In [41]:
bprdg_final.columns

Index(['BPXML1', 'BPAARM', 'BPAEN2', 'BPXPLS', 'BPXDI1', 'BPXSY2', 'BPXPTY',
       'BPXSY1', 'BPACSZ', 'BPXDI3', 'BPAEN1', 'BPAEN4', 'BPXDI4', 'BPXCHR',
       'BPXDI2', 'BPAEN3', 'BPXSY3', 'BPXSY4', 'SEQN', 'BPXPULS', 'PEASCCT1',
       'BPAOARM', 'BPAOCSZ', 'BPXOSY1', 'BPXODI1', 'BPXOSY2', 'BPXODI2',
       'BPXOSY3', 'BPXODI3', 'BPXOPLS1', 'BPXOPLS2', 'BPXOPLS3'],
      dtype='object')

In [42]:
final_df= pd.merge(demo_final, diet_final,on=['SEQN'])
final_df= pd.merge(final_df, alc_final,on=['SEQN'])
final_df= pd.merge(final_df, tchol_final,on=['SEQN'])
final_df= pd.merge(final_df, diabetes_final,on=['SEQN'])
final_df= pd.merge(final_df, income_final,on=['SEQN'])
final_df= pd.merge(final_df, kidney_final,on=['SEQN'])
final_df= pd.merge(final_df, pa_final,on=['SEQN'])
final_df= pd.merge(final_df, smoke_final, on=['SEQN'])
final_df= pd.merge(final_df, trigly_final, on=['SEQN'])
final_df= pd.merge(final_df, weight_final, on=['SEQN'])
final_df= pd.merge(final_df, bprdg_final, on=['SEQN'])
final_df= pd.merge(final_df, bp_final, on=['SEQN'])

In [43]:
final_df.shape

(17847, 186)

In [50]:
final_df.BPQ020.value_counts()

2.0    11095
1.0     6729
9.0       23
Name: BPQ020, dtype: int64

In [53]:
final_df.to_csv(r'C:\Users\chery\Desktop\Data301\project\final.csv', index=None)

In [59]:
final= pd.read_csv('final.csv')
final.shape

C:\Users\chery\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (165) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(17847, 186)

In [61]:
final.set_index('SEQN')

,RIDAGEYR,SDMVSTRA,RIDRETH1,RIDAGEMN,RIAGENDR,FIAINTRP,INDFMPIR,SDDSRVYR,MIALANG,RIDEXMON,...,BPQ050A,BPQ090D,BPD035,BPQ070,BPQ100D,BPQ060,BPQ080,BPQ020,BPQ040A,BPQ030
SEQN,,,,,,,,,,,,,,,,,,,,,
109271.0,49.0,167.0,3.0,NaN,1.0,2.0,NaN,66.0,1.0,2.0,...,NaN,1.0,NaN,1.0,1.0,NaN,1.0,2.0,NaN,NaN
109274.0,68.0,167.0,5.0,NaN,1.0,2.0,1.20,66.0,1.0,1.0,...,1.0,1.0,54.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
109282.0,76.0,164.0,3.0,NaN,1.0,2.0,3.61,66.0,1.0,2.0,...,1.0,2.0,60.0,1.0,NaN,NaN,1.0,1.0,1.0,2.0
109286.0,33.0,154.0,5.0,NaN,2.0,2.0,1.36,66.0,NaN,1.0,...,NaN,2.0,NaN,1.0,NaN,1.0,2.0,2.0,NaN,NaN
109290.0,68.0,171.0,4.0,NaN,2.0,2.0,5.00,66.0,1.0,2.0,...,1.0,1.0,50.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51616.0,60.0,62.0,3.0,727.0,1.0,2.0,3.93,5.0,1.0,2.0,...,1.0,NaN,25.0,1.0,NaN,1.0,9.0,1.0,1.0,1.0
51617.0,71.0,69.0,2.0,862.0,2.0,2.0,2.84,5.0,2.0,1.0,...,1.0,NaN,51.0,1.0,NaN,1.0,2.0,1.0,1.0,1.0
51618.0,48.0,74.0,3.0,587.0,1.0,2.0,3.83,5.0,1.0,2.0,...,NaN,NaN,NaN,4.0,NaN,1.0,2.0,2.0,NaN,NaN
51620.0,50.0,67.0,3.0,611.0,2.0,2.0,2.48,5.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0,NaN,NaN
51623.0,72.0,62.0,3.0,864.0,1.0,2.0,0.95,5.0,1.0,2.0,...,NaN,1.0,NaN,1.0,1.0,1.0,1.0,2.0,NaN,NaN